td:LAST-CHILD, td:nth-last-child(2) {
	text-align: right; 
	margin: 0;
}
#cardTable {
	padding-top: 30px;
	padding-bottom: 80px;
}				
#dlgDetalhe .caption {
	margin-bottom: 0;
}
#formTable {
	margin-top: 35px;
}  
.displayNone {
	display: none;
}
.spanClicavel {
	cursor: pointer;
}
label {
   width: 100%;
}
label:after {
    -moz-transition-property: all !important;
    -o-transition-property: all !important;
    -webkit-transition-property: all !important;
    transition-property: all !important;
    font-size: 0.8rem;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    transform: none;
}

label:not(.active):after {
    -moz-transform: translateY(-140%);
    -ms-transform: translateY(-140%);
    -o-transform: translateY(-140%);
    -webkit-transform: translateY(-140%);
    transform: translateY(-140%);
}
